.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center; 
}
.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}
.header {
  background: tomato;
}
.main {
    text-align: left;
    background: deepskyblue;
    flex: 3;
}
.aside-1 {
    background: gold;
    flex: 1;
}
.aside-2 {
    background: hotpink;
    flex: 1;
}
.footer {
  background: lightgreen;
}




body {
  padding: 2em; 
}